html, body {
    margin: 0;
    height: 100vw;
    width: 98.5vw;
}

title {
  display: flex;
  justify-content: flex-start;
  color: #092552;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 2.5rem;
  font-weight: 100;
  text-decoration: none;
  margin: 5% 0.5% 2.5% 10%;
}

body {
  display: block;
  margin: 2px;
  min-height: 100%;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  font-family: 'Quicksand', sans-serif;
}

.navigation-bar .navigation-links .active-link {
  color: #092552;
  text-decoration: none;
  padding: 15px;
}

h1.page-title {
  color: #092552;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 2.5rem;
  font-weight: 100;
  text-decoration: none;
  margin: 5% 45% 2.5%;
}

h1 a {
  color: #092552;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 5rem;
  font-weight: 100;
  text-decoration: none;
}

h2 {
  color: #092552;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
}

p {
  font-family: 'Quicksand', sans-serif;
}

li {
  font-family: 'Quicksand', sans-serif;
}


.header-image-container .header-image {
  height: 100%;
  width: 100%;
}

.header-image-container {
  display: inline-block;
  height: 1024px;
}

h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
}

.recipe-content {
  margin: 0% 10% 5% 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content a {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content .content-photo-links {
  height: 700px;
  width: 80%;
  margin: 3rem;
}

.cover-photo {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 55%;
  left: 2rem;
  margin: 6rem;
  z-index: -1;
  text-align: center;
}

.content .content-photos {
  height: 700px;
  width: 1136px;
  border: 1px solid darkgrey;
  box-shadow: 2.5px 5px lightgrey;
  position: absolute;
  z-index: -2;
}

.content video {
  height: 500px;
  width: 666px;
  margin: 3rem;
  border: 1px solid darkgrey;
  box-shadow: 2.5px 5px lightgrey;
}

.recipe-content-photos {
  height: 500px;
  width: 666px;
  margin: 3rem;
  border: 1px solid darkgrey;
  box-shadow: 2.5px 5px lightgrey;
}

