<div class="recipe-content">
  <h2> a simple salad </h2>
  <img class="recipe-content-photos" src="assets/images/recipes/salad.jpg" alt="salad">

  <p> It's much easier to eat healthily in the summer. Mostly because you don't crave hot comfort food. So I'm enjoying putting togethr salads for lunch. I forgoot how easy it is to put together a simple dressing.
  <br>
  <br> Here is all you need:
  </p>



  <ul>
    <li> 3 tablespoons olive oil </li>
    <li> 1 tablespoon white wine vinegar </li>
    <li> a pinch of salt </li>
    <li> 1/4 teaspoon of black pepper </li>
  </ul>

  <p>
  In this recipe I used Kale, some spinach and cherry tomatoes becase that's what I had lying around but you could use anything really.
  </p>
</div>

